.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Fira Sans', sans-serif;
	font-family: 'Karla', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.modal__content {
	/* background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	max-width: 500px;
	text-align: center; */

	width: 50%;
	height: 550px;
	margin: 5px;
	padding: 5px;
	top: 70px;
	left: 30%;
	background: linear-gradient(to right, #dcd7e6, #baffea);
	border-radius: 15px;
	position: fixed;
	margin: auto;
	display: block;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	overflow: hidden;
	z-index: 100;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	align-items: left;
	overflow: scroll;
}

.close {
	color: #0d0404;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


form {
	margin: 20px;
}

form label {
	font-size: 15px;
	font-weight: 500;
	position: relative;
	float: left;
	/* align-items: left; */

}

form input {
	width: 60%;
	height: 20px;
	margin-bottom: 8px;
	border-radius: 5px;
	padding: 1px;
	float: left;

}

.btn {
	display: block;
	margin: auto;
}

.gender {
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between, 20px;
	padding: 0;
	margin-left: 20%;
	width: 50%;
}
@media screen and (max-width:600px) {
	form input {
		width: 90%;
	}

	.modal__content {
		width: 90%;
		left: 10%;
	}
}

@media only screen and (min-width: 601px) and (max-width:1000px) {
	form input {
		width: 75%;
	}
}

@media only screen and (min-width: 100px) and (max-width:1950px) {
	form input {
		width: 55%;
	}

	.modal__content {
		width: 40%;

	}
}

.errorContainer{
	color: red;
	font-size: 12px;
	font-weight: 500;
	position: relative;
	float: left;
	/* margin-left: 20%; */
}