.container {
	width: 60%;
	height: 280px;
	margin: 0 auto;
	margin-top: 4px;
}

.body {
	width: 95%;
	height: 100%;
	display: block;
	margin: auto;
	/* border: 1px solid black; */
	border-radius: 10px;
	margin-top: 10px;
	/* overflow: scroll; */
}

.footer {
	background-color: black;
	width: 100%;
	height: 25px;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	color: white;
}

@media only screen and (max-width: 600px) {
	.container {
		width: 95%;
		height: 185px;
	}
}

@media only screen and (min-width: 601px) and (max-width:1000px) {
	.container {
		width: 70%;
		height: 250px;
	}
}

@media only screen and (min-width: 1001px) and (max-width:1220px) {
	.container {
		width: 65%;
		height: 255px;
	}
}

@media only screen and (min-width: 1221px) and (max-width:1920px) {
	.container {
		width: 60%;
		height: 265px;
	}
}