body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5fa594, #746098);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5fa594, #746098); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}

