.main_container{
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: column;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border-radius: 10px;
}

.main_container h2{
    color: rgb(50, 67, 78);
    float: left;
    margin: auto;
}
.main_container form  input{
    /* width: 50%; */
    background-color: rgb(249, 249, 207);
}
label{
    width: 25%;
    color: black;
}
/* input{
    width: 40px;
    background-color: rgba(193, 185, 175, 0.53);
} */

/* @media screen and (max-width: 600) {
	label{
        width: 50%;
    }
    input{
        width: 50%;
    }
} */

@media only screen and (min-width: 601px) and (max-width: 1320px) {
	label{
        width: 35%;
    }
    input{
        width: 60%;
    }
}

@media only screen and (min-width: 1321px) and (max-width: 1920px) {
	label{
        width: 25%;
    }
    input{
        width: 20%;
    }
}

