.user-details {
	display: flex;
	align-items: center;
	background: linear-gradient(to right, #dcd7e6, #baffea);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	padding: 20px;
	border-radius: 10px;
	width: 60%;
	margin: auto;
	flex-direction: row;
	font-family: 'Arvo', serif;
}

.user-image {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 5%;
}

.user-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-info {
	flex: 1;
}

.name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.contact {
	font-size: 16px;
	margin-bottom: 10px;
}

.address {
	font-size: 16px;
	margin-bottom: 10px;
}

.additional-info {
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

.additional-info>div {
	margin-bottom: 5px;
}

.additional-info>div:last-child {
	margin-bottom: 0;
}

@media screen and (max-width:600px) {
	.user-details {
		width: 90%;
		flex-direction: column;
		margin-left: 0;
	}
}

@media only screen and (min-width: 601px) and (max-width:720px) {
	.user-details {
		width: 85%;
	}
}

@media only screen and (min-width: 721px) and (max-width:900px) {
	.user-details {
		width: 70%;
	}
}

@media only screen and (min-width: 901px) and (max-width:1220px) {
	.user-details {
		width: 60%;

	}
}

@media only screen and (min-width: 1221px) and (max-width:1550px) {
	.user-details {
		width: 50%;

	}
}