/** CSS STYLE FOR USER PROFILE EDIT COMPONENT */
.main{
    display: flex;
    flex-direction: column;
    padding: 55px;
}
.btn{
    display: flex;
    justify-content: space-around;
}

label{
    font-size: xx-large;
    color: black;
}
.user-info-edit > label{
    font-weight: bold;
}
.gender{
    display: flex;
    justify-content: center;
}

.back-button{
    margin-right: 50px;
}
