.location-data-edit {
    display: flex;
    flex-direction: column;
}
.location-edit-info{
    display: flex;
    /* width: 50%; */
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    margin: auto;

}
 .location-edit-info h2{
    color: rgb(50, 67, 78);
    float: left;
    margin: auto;
}
.location-edit-info div label{
    font-size: 16px;
    width:200px;
    /* padding: 20px; */
}
.loc-desc{
    width: 70%;
    height: auto;
}
.location-edit-info div input{
    width: 50%;
    /* margin-top: 15px; */
    background-color: rgb(249, 249, 207);
}
.buttons{
display: flex;
flex-direction: row;

}
.btn2{
    position:absolute;
    right: 20%;
}

@media screen and (max-width: 600) {
    .location-edit-info{
        width: 90%;
    }
	.location-edit-info input{
        width: 80%;
    }
    .loc-desc{
        width: 80%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1320px) {
	.location-edit-info{
        width: 70%;
    }
    .location-edit-info input{
        width: 70%;
    }
    .loc-desc{
        width: 60%;
    }
}

@media only screen and (min-width: 1321px) and (max-width: 1920px) {
	
    .location-edit-info{
        width: 50%;
    }.location-edit-info input{
        width: 40%;
    }
    /* .location-edit-info label{
        font-size: 16px;
        width: 25%;
    } */
    .loc-desc{
        width: 40%;
    }
    .btn2{
        right: 30%;
    }
}