.slider-image {
	width: 100%;

	margin-left: -40px;
	border-radius: 15px 15px 0 0;
	/* height: max-content; */
}

/* Main container  */
.location-body {
	display: flex;
	width: 75%;
	height: fit-content;
	background: #7F7FD5;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

	border-radius: 18px;
	/* padding: 5px; */
	margin: auto;
}

/* Left section css */
/* Left-box containing image slider  */
.loc-image {
	width: 70%;
	/* background-color: rgb(143, 198, 194); */
	border-radius: 10px;
	margin-right: 5px;
}

/* Right div box containing booking details and form  */
.booking-details {
	width: 30%;
	/* background-color: rgb(143, 202, 213); */
	border-radius: 15px;
}

.slider-container {
	display: flex;
	flex-direction: row;
}

.slider-btn {
	background: none;
}
.slider-btn-disable{
	display: none;
}

.prev-btn {
	position: relative;
	left: 20px;
	z-index: 1;
}

.next-btn {
	position: relative;
	right: 40px;
	z-index: 1;
}

.booking-details {
	width: 50%;
}

.btn_img {
	width: 30px;
	height: 30px;
}

/* Css for right section  */
.left-section {
	margin-top: -15px;
	padding: 0;
}

.left-section div h2 {
	text-align: center;
	background-color: aliceblue;
	/* background-color: linear-gradient(to right, #dcd7e6, #baffea); */
	margin-top: 15px;
	padding-top: 15px;
	border-radius: 10px 10px 0px 0px;
	text-transform: uppercase;
}

.left-section p {
	padding: 0;
	margin-top: -15px;
	margin-left: 8px;
	font-weight: 500;
	font-size: 15px;
}

.right-section {
	margin-top: -20px;
	height: fit-content;
}

.right-section h4 {
	text-align: center;
	color: rgb(1, 1, 1);
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: -20px;
}

.right-section label {
	/* margin-top: -8px; */

}

.right-section input {
	background-color: white;
	color: black;
	margin-bottom: -8px;
}

.submit-btn {
	position: relative;
	float: left;
}


@media only screen and (min-width: 0px) and (max-width: 601px) {
	.location-body {
		width: 90%;
		flex-direction: column;
	}

	.loc-image {
		width: 100%;
	}

	.booking-details {
		width: 100%;
	}
}

@media only screen and (min-width: 601px) and (max-width: 1101px) {
	.location-body {
		width: 60%;
		flex-direction: column;
	}

	.loc-image {
		width: 100%;
	}

	.booking-details {
		width: 100%;
	}
}

@media only screen and (min-width: 1100px) and (max-width: 1320px) {
	.location-body {
		width: 50%;
		flex-direction: column;
	}

	.loc-image {
		width: 100%;
	}

	.booking-details {
		width: 100%;
	}
}

@media only screen and (min-width: 1321px) and (max-width: 1920px) {
	.location-body {
		width: 75%;
	}

	.loc-image {
		width: 60%;
	}

	.booking-details {
		width: 40%;
	}
}

/* .date-selector {
	margin-left: 70px;
	padding-left: 50px;
	margin-top: 0%;
	padding-top: 0%;
  } */

form.booking-form {
	display: flex;
	flex-direction: column;

}

label[for="date"] {
	margin-bottom: 8px;
	padding-top: 10px;
}

label[for="children"] {
	margin-bottom: 8px;
	margin-top: 10px;
}

label[for="adults"] {
	margin-bottom: 8px;
	margin-top: 10px;
}

.date-selector {
	position: relative;
}

.react-datepicker {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.react-datepicker__triangle {
	display: none;
}