.modal_1 {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal--content_ {
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	max-width: 400px;
	text-align: center;
	height: 300px;
	overflow: hidden;
	background: linear-gradient(to right, #dcd7e6, #baffea);
	border-radius: 15px;
}

form input {
	margin-left: 5px;
}

.head {
	height: 32px;
	width: 150%;
	margin-left: -25px;
	background-color: black;
	position: relative;
	top: -20px;
}

.close__ {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	top: -50px;
	right: -18px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.modal_1 button[type="submit"] {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}