.main_{
	background-color: linear-gradient(to right, #dcd7e6, #baffea);
	border-radius: 15px;

}
.booking-card {
	display: grid;
    grid-template-rows: max-content 200px 1fr;
	width: 400px;
	height: 330px;
	background-color: #ffffff;
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	border-radius: 5px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    /* flex: 0 1 24%; */
}

.booking-card-header {
	margin-bottom: 10px;
	color: rgb(15 35 92);
}

.booking-card-header h2 {
	font-size: 24px;
	margin-bottom: 5px;
}

.booking-card-header p {
	font-size: 16px;
}

.booking-card-details-row {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 2px;
	/* margin-bottom: 5px; */
}

.booking-card-details p {
	font-size: 16px;
	margin: 4px;
}

.booking-card-details p strong {
	font-weight: bold;
	margin-right: 1px;
}

button{
	float: right;

}