.main{
	background-color: #edf9ff;
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
}
.booking-card {
	width: 450px;
	height: 550px;
	background-color: #fff;
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	border-radius: 5px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.booking-card-header {
	margin-bottom: 10px;
}

.booking-card-header h2 {
	font-size: 24px;
	margin-bottom: 5px;
}

.booking-card-header p {
	font-size: 16px;
}

.booking-card-details-row {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 2px;
	/* margin-bottom: 5px; */
}

.booking-card-details p {
	font-size: 16px;
	margin: 4px;
}

.booking-card-details p strong {
	font-weight: bold;
	margin-right: 10px;
}

button{
	float: right;
	
}