.cards {
	display: flex;
}

.location-card {
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	height: auto;
	width: 26rem;
	margin: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	background: #C9D6FF;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E2E2E2, #C9D6FF);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto Slab', serif;

}

.image-section {
	position: relative;

}

.image-section img {
	display: block;
	width: 100%;
	height: 18rem;

}

.arrow-buttons {
	display: flex;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	justify-content: space-between;
	color: #ffffff;
	cursor: pointer;
	font-size: 30px;
}

.arrow-buttons:hover {
	border-radius: 50%;
}

.arrow-buttons:focus {
	outline: none;
}

.arrow-buttons:first-child {
	margin-left: 0;
}


.name-section {
	color: #333333;
	font-size: 30px;
	margin: 0;
	text-align: center;
}

.description-section {
	color: #333333;
	font-size: 20px;
	margin: 0;
	text-align: center;
}

.price-section {
	padding: 10px;
}

.price-section h4 {
	color: #333333;
	font-size: 20px;
	margin: 0;
	text-align: center;
}

button {
	background-color: #7eb7f0;
	width: 70px;
	border-radius: 8px;
	border: 0px;
}


.button-section {
	padding: 10px;
	text-align: center;
}

.btn-1 {
	float: left;
}

.btn-2 {
	float: right;
}

.button-section a {
	border-radius: 5px;
	color: #764141;
	display: inline-block;
	font-size: 18px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

.button-section a:hover {
	background-color: #005ab5;
}

.name-section {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin: 5px;
}

.description-section {
	font-size: 14px;
	text-align: left;
	margin: 5px;
}

.price-section {
	width: 100px;
	background-color: #242b4e;
	color: white;
	border-radius: 10px;
	display: block;
	margin: auto;
	font-size: 30px;
	font-weight: 500;
	padding: 5px;
	text-align: center;
}