.dtcontstyle {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	transform: translate(0, -10%);
	left: 15%;
	color: white;
	opacity: 0.6;
	width: 60%;
}

.title {
	position: absolute;
	top: 85%;
	left: 90px;
	transform: translate(90%, -40%);
	left: 10px;
	color: rgb(8, 12, 57);
	font-size: 18px;
	z-index: 15;
}

@media only screen and (max-width: 600px) {
	.dtcontstyle {
		left: 0%;
		margin: 0;
	}
}

@media only screen and (min-width: 601px) and (max-width:1000px) {
	.dtcontstyle {
		left: 5%;
		margin: 0;
	}
}

@media only screen and (min-width: 1001px) and (max-width:1220px) {}

@media only screen and (min-width: 1221px) and (max-width:1920px) {}