.close-btn {
	width: 30px;
	position: relative;
	top: 0;
	right: 0px;
}

.modal_2{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Fira Sans', sans-serif;
	font-family: 'Karla', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.modal-_content{
	background-color: aliceblue;
	width: 450px;
	height: 200px;
	border-radius: 10px;
}

.resend{
	margin-right: 50px;
	/* align-items: center; */
}