.modal___{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content___ {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	max-width: 500px;
	text-align: center;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.modal___ button[type="submit"] {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

/** Bhai isko remove matt karna, yeh scanner ka css hai */
.scanner-component {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }